<div class="row no-margin" ng-repeat="row in createArray(gridSize.row) track by $index">
    <span class="grid col-md-1 no-padding" ng-repeat="column in createArray(gridSize.column) track by $index" ng-click="showGridValue($index, $parent.$index)">
        <img src="images/Icon-60@2x.png" class="grid-image" ng-show="gameStatus[$index][$parent.$index].status === 'locked'">

        <span ng-show="gameStatus[$index][$parent.$index].visibleValue !== null" class="grid-visible">
            {{gameStatus[$index][$parent.$index].visibleValue}}
        </span>
    </span>
</div>

<div ng-show="gameEnd">
    <div class="jumbotron">
        <h1>{{message}}</h1>
    </div>
    <div class="row no-margin">
        <button class="form-control btn btn-primary" ng-click="redirectToMain()">Start A New Game</button>
    </div>
</div>
